# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

#Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

build